.ContactPage{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 0px;
  font-size: .9 rem;
}

.ContactPage form{
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-items: center;
}

#submit-btn{
  width: 4rem;
}

body{
  padding: 0px 0px;
  margin: 0px 0px;
  border: 0px 0px;
}